* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: '標楷體', sans-serif;
    list-style: none;
}

.box {
    width: 1024px;
    height: 768px;
    margin: auto;
}

/* border */
header,
.aside-header,
.aside-footer,
.main-header,
.main-footer,
footer {
    border: 1px solid #000;
}


/* header */
header {
    width: 100%;
    height: 65px;
    display: flex;
    border-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo {
    width: 994px;
    height: 60px;
}

/* container */
.container {
    width: 100%;
    height: calc(100% - 65px - 20px);
    display: flex;
}

/* left */
.container-left {
    width: 215px;
    height: 100%;
}

.aside-header {
    width: 100%;
    height: calc(100% - 25px);
    border-right: 0;
    border-bottom: 0;
    text-align: center;
}

.menu-title {
    border-bottom: 1px solid #000;
    color: #f0f;
    font-size: 24px;
    font-weight: 500;
    padding: 8px;
}

.aside-header ul {
    padding: 16px 8px;
    font-size: 16px;
}

.aside-header ul li {
    width: 200px;
    height: 35px;
    line-height: 35px;
    background-image: url(../images/menu1.png);
    margin-bottom: 8px;
}

.aside-header ul li:hover {
    background-image: url(../images/menu2.png);
}

.aside-footer {
    width: 100%;
    height: 25px;
    border-right: 0;
    text-align: center;
    font-size: 16px;
}

/* right */
.container-right {
    width: calc(100% - 215px);
    height: 100%;
}

.main-header {
    width: 100%;
    height: 29px;
    border-bottom: 0;

}

.main-header marquee {
    width: 770px;
    height: 29px;
    font-size: 24px;
    color: #00f;
}

.main-footer {
    width: 100%;
    height: calc(100% - 29px);
}

.main-footer iframe {
    width: 100%;
    height: 100%;
}

/* footer */
footer {
    width: 100%;
    height: 20px;
    border-top: 0;
}

/* page */
.page-background {
    background-image: url(../images/0101.jpg);
    padding: 16px;
}

/* main */
#main-container {
    text-align: center;
    color: #00f;
    font-size: 24px;
    font-style: italic;
}

#main-container img {
    width: 250px;
    height: 250px;
}

/* nav */
.common-nav {
    text-align: center;
}

.common-nav h2 {
    font-size: 18px;
    margin-bottom: 16px;
}

.common-nav ul {
    display: flex;
    justify-content: space-around;
}

#history-container .common-nav h2,
#event-container .common-nav h2 {
    color: #f00;
}

#learning-container .common-nav h2 {
    color: #0ff;
}

/* history */
#history-container p {
    color: #f00;
    font-size: 16px;
    white-space: pre-line;
}

/* event */
#event-container p {
    color: #f00;
    font-size: 16px;
    white-space: pre-line;
}

#event-container ul {
    margin: 24px 0;
    display: flex;
    justify-content: space-around;

}

#event-container table tr td {
    white-space: pre-line;
}

#event-0 {
    color: #800000;
}

#event-1 {
    color: #00f;
}

#event-2 {
    color: #f00;
}

#event-3 {
    color: #0f0;
}

#event-4 {
    color: 000;
}


/* learning */
#learning-container main {
    height: 80vh;
    color: #00f;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

#learning-container .item:hover {
    background-color: lightblue;
}