* {
    box-sizing: border-box;
    /* overflow: hidden; */
    padding: 0;
    margin: 0;
    font-family: '標楷體', sans-serif;
}

/* ====================== index ====================== */

/* box */
.box {
    width: 1024px;
    height: 768px;
    /* background-color: black; */
    margin: 0 auto;
}

header,
.aside-header,
.aside-footer,
.main-header,
.main-footer,
footer {
    border: 1px solid black;
}

/* header */
header {
    width: 100%;
    height: 65px;
    /* background-color: lightsalmon; */
    border-bottom: 0;
    text-align: center;
}

.logo {
    width: 994px;
    height: 60px;
}

/* container */
.container {
    width: 100%;
    height: calc(100% - 65px - 20px);
    /* background-color: darkblue; */
    display: flex;
}

/* container-left */
aside {
    width: 215px;
    height: 100%;
    /* background-color: palegoldenrod; */
}

.aside-header {
    width: 100%;
    height: calc(100% - 25px);
    /* background-color: paleturquoise; */
    border-right: 0;
    border-bottom: 0;
}

.menu-title,
.menu li {
    font-weight: 500;
    text-align: center;
    list-style: none;
}

.menu-title {
    font-size: 24px;
    text-decoration: underline;
    margin: 8px;
    color: #f0f;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu li {
    width: 200px;
    line-height: 35px;
    color: #000;
    font-size: 16px;
    vertical-align: middle;
    background: url(../images/menu1.png);
    margin-top: 4px;
}

.menu li:hover {
    background: url(../images/menu2.png);
}

.aside-footer {
    width: 100%;
    height: 25px;
    line-height: 25px;
    color: #000;
    font-size: 16px;
    /* background-color: palevioletred; */
    border-right: 0;
    border-bottom: 0;
    text-align: center;
}

/* container-right */
main {
    width: calc(100% - 215px);
    height: 100%;
    /* background-color: palegreen; */
}

.main-header {
    width: 100%;
    height: 29px;
    /* background-color: papayawhip; */
    border-bottom: 0;
}

marquee {
    font-size: 24px;
    width: 770px;
    height: 29px;
    color: #00f;
    /* animation: marquee 10s linear infinite; */
}

@keyframes marquee {
    0% {
        transform: translateX(-70%);
    }

    100% {
        transform: translateX(105%);
    }
}

.main-footer {
    width: 100%;
    height: calc(100% - 29px);
    /* background-color: plum; */
    border-bottom: 0;
}

.main-footer iframe {
    width: 100%;
    height: 100%;
}

/* footer */
footer {
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    text-align: center;
    /* background-color: lavender; */
}

/* 分頁背景圖片 */
.bgimg {
    background-image: url(../images/0101.jpg);
}

/* ====================== main.html ====================== */
.main-container {
    color: #0000FF;
    font-size: 24px;
    text-align: center;
    margin: 16px;
    font-style: oblique;
}

.main-container img {
    width: 250;
    height: 250px;
    margin-bottom: 48px;
}

/* ====================== nav ====================== */
nav>* {
    text-align: center;
    margin-top: 8px;
}

nav h2 {
    color: #f00;
    font-size: 18px;
}

nav table {
    width: 100%;
    table-layout: fixed;
}

/* ====================== history ====================== */
.history-container p {
    color: #f00;
    font-size: 16px;
    margin: 8px 24px;
    white-space: pre-line;
}

/* ====================== event ====================== */
.event-container main {
    width: 100%;
}

.event-container #event-date {
    width: 100%;
    text-align: center;
    margin: 40px 0;
}

.event-container .content td {
    padding-left: 16px;
    white-space: pre-line;
}

.event-container #t0 {
    color: #800000;
}

.event-container #t1 {
    color: #0000FF;
}

.event-container #t2 {
    color: #FF0000;
}

.event-container #t3 {
    color: #00FF00;
}

.event-container #t4 {
    color: #000000;
}

/* ====================== learning ====================== */
.learning-container h2 {
    color: #00FFFF;
}

.learning-container main {
    width: 100%;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.learning-container main a {
    margin-bottom: 24px;
}