@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Itim&family=Noto+Sans+TC:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans TC", serif;
    color: #ffffff;
}

body {
    background-image: url(../image/bgc.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    background-color: #222;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px 0;
}

nav a {
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-weight: bold;
    position: relative;
}

nav a::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #C39D62;
    transition: 0.3s ease-in-out;
}

nav a:hover {
    color: #C39D62;
}

nav a:hover::after {
    width: 100%;
}

.caption-text {
    position: absolute;
    margin-bottom: 20vw;
}

.bg_1 {
    background-color: #0B161A;
}

.bg_2 {
    background-color: rgba(20, 30, 32, 0.9);
}

.title {
    text-align: center;
    margin-bottom: 48px;
}

#menu ul {
    font-size: 20px;
    list-style: none;
}

#menu ul li {
    font-size: 20px;
    padding-bottom: 16px;
}

#menu ul li .price {
    color: #C39D62;
    position: relative;
    float: right;
}

#menu ul li .price::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 110%;
    width: 200px;
    height: 1px;
    background-color: #C39D62;
    /* color: #C39D62; */
}

#menu ul li .depiction {
    font-size: 16px;
    color: #9D9FA6;
}

#contact {
    background-color: #22222271;

}

#contact .card {
    max-width: 766px;
    margin: auto;
    padding: 24px;
}

footer {
    background-color: #222;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #C39D62;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 0px;
    border-color: #141E20;
    background-color: #141E20;
}

.card-body {
    color: #fff;
    text-align: center;
    padding: 60px 20px;
}

.card-body h3 {
    /* font-style: italic; */
    font-family: "Dancing Script", serif;
}

.card-body h5 {
    font-weight: 400;
    color: #9D9FA6;
    padding: 20px;
    line-height: 1.5;
}

.card-img-full {
    object-fit: cover;
    height: 100%;
    border-radius: 0px;
}

.botton {
    display: inline;
    padding: 12px 32px;
    background-color: #C39D62;
    cursor: pointer;
}

#menu .botton {
    margin-left: 40px;
}

#contact h2 {
    color: #fff;
    text-align: center;
}

#contact .card {
    background-color: #0B161A;
}

#contact form {
    text-align: center;
}

.fab {
    font-size: 32px;
    margin: 0 20px;
}

.fab:hover {
    color: #C39D62;
}

.form-control {
    border-radius: 0;
    border: 1px solid #141E21;
    background-color: #141E21;
    color: white;
    height: 60px;
}

.form-control.textarea {
    height: 150px;
    border: #C39D62;
}


.form-control:focus {
    background-color: #141E21;
    color: white;
    box-shadow: none;
    border-color: #C39D62;
}

.form-control.textarea {
    height: 150px;
}

.form-control::placeholder {
    color: rgba(255, 255, 255, 0.39);
}

#moreMenu {
    display: none;
    overflow: hidden;
    height: 0;
    transition: height 0.5s ease-out;
}

a {
    text-decoration: none;
}